
.yoke img{
    width:20%;
}

#swing_text span
{
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  transform : translateY(-10px);
  color: red;
}

@keyframes anime
{
  from
  {
    transform : translateY(-10px);
  }
  
  50%
  {
    transform : translateY(20px);
  }
  
  to
  {
    transform : translateY(-10px);
  }
}