<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDoリスト</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<body>
    
    <div id="app">
        <input type="text" v-model="addText" placeholder="ToDoを入力">
        <button v-on:click="addToDo()">追加</button>
        <button v-on:click="del">削除</button>
        <ul v-for="(todo,num) in list">
            <li>{{ num + 1 }}.{{ todo.text }}
            <button v-on:click="del1(todo)">削除</button>
            </li>
           
        </ul>
    </div>

<script src="./main.js"></script>

</body>
</html>